button
{
    outline: none;
}

.navbar
{
    background-color: red;
    padding: 5px;
}

.homebutton:link, .homebutton:visited,
.link:link, .link:visited, .button
{
    color: white;
    border-style: solid;
    border-color: white;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    border-width: 2px;
}

.link:link, .link:visited, .button
{
    color: red;
    border-color: red;
    background-color: white;
    font-size: 15px;
    font-weight: normal;
}
.smalllink:link, .smalllink:visited
{
    color: red;
}

.link:hover, .button:hover
{
    color: white;
    background-color: red;
}

.homebutton:link, .homebutton:visited
{
    border-style: none;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 5px;
}

.addbutton, .addnew
{
    text-align: left;
}

.addbutton
{
    margin:15px;
}

.itembutton
{
    text-align: right;
}

img
{
    width: 300px;
}

@media only screen and (max-width: 991px) 
{
    .homebutton
    {
        text-align: center;
        margin: 5px;
    }
    .addbutton, .addnew, .itembutton
    {
        text-align: center;
    }
    img
    {
        width: 250px;
    }
}

.list 
{
    text-align: center;
    margin-top: 80px;
    margin-bottom:80px;
}

.data, .vehiclehead
{
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.vehiclehead
{
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: none;
}


input[type=text], input[type=password], input[type=number], input[type=date], select, textarea
{
  padding: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.login, .login:hover, .login:visited
{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
    text-align: center;
}

.centerdata
{
    padding: 15px;
}

.footer 
{
    margin-top: 40px;
    padding: 20px;
    color: #999;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#blockColorblindContent
{
    display: none;
}

html, body 
{
    margin: 0;
    height: 100%;
}

.hamburger {
    background-color: red;
    border-style: none;
    color: #fdd;
    border-color: white;
    font-size: 30px;
    vertical-align: middle;
    outline: none;
}

.hamburger:hover
{
    color: white;
}

.open>.dropdown-menu
{
    border: none;
    border-radius: 0px;
}

.dropdownlink, .dropdownlink:visited
{
    color: red;
    font-size: 15px;
    text-decoration: none;
}

a.dropdownlink
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    display:inline-block;
    width: 100%;
}

a.dropdownlink:hover
{
    color: white;
    background-color: red;
    text-decoration: none;
}